Source: turtlebot-env-hydro
Section: science
Priority: extra
Maintainer: NE Automation <code@neautomation.com>
Build-Depends: debhelper (>= 5), config-package-dev (>= 4.5~), cdbs
Standards-Version: 3.9.3

Package: turtlebot-env-hydro
Architecture: any
Description: TurtleBot system envronment

Provides: turtlebot-env
Conflicts: turtlebot-env
Replaces: turtlebot-env
Depends: ${shlibs:Depends}, ${misc:Depends}, chrony, openssh-server, udev, turtlebot-ros-hydro | turtlebot-ros

