#!/usr/bin/make -f
# -*- makefile -*-

export DH_ALWAYS_EXCLUDE=CVS:.svn:.git

DEB_DIVERT_EXTENSION = .turtlebot-env
DEB_DIVERT_FILES_turtlebot-env-indigo += \
	/etc/bluetooth/main.conf.turtlebot-env
DEB_DIVERT_FILES_turtlebot-env-indigo += \
        /etc/default/avahi-daemon.turtlebot-env

%:
	dh $@
